{% extends 'base.html' %}
{% load staticfiles %}
{%block content %}
<div id="hero-image">
        <div class="wrapper">
            <h2><strong>A Minimal, clean</strong><br/>
            layout for web design.</h2>
            <a href="#features" class="button-1">Get Started</a>
        </div>
    </div>
	
	<div id="features">
        <div class="wrapper">
            <ul>
                <li class="feature-1">
                    <h4>Easy to Edit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                </li>
                <li class="feature-2">
                    <h4>Layered PSD</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                </li>
                <li class="feature-3">
                    <h4>Ready to Go</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
	


    <div id="primary-content">
        <div class="wrapper">
            <article>
                <h3>Featured Content</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt. Nam ultricies odio ac neque suscipit volutpat. Ut dictum adipiscing felis sed malesuada. Integer porta sem nec nibh hendrerit imperdiet. </p>
                <a href="#"><img src="{% static 'framgia/images/video-placeholder.jpg' %}" alt="video placeholder" /></a>
            </article>
        </div>
    </div>

	
	<div id="secondary-content">
        <div class="wrapper">
            <article style="background-image: url('../static/framgia/images/article-image-1.jpg');">
                <div class="overlay">
                    <h4>Secondary Content</h4>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
                    <a href="#" class="more-link">View more</a>
                </div>
            </article>
            <article style="background-image: url('../static/framgia/images/article-image-2.jpg');">
                <div class="overlay">
                    <h4>Secondary Content</h4>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
                    <a href="#" class="more-link">View more</a>
                </div>
            </article><div class="clear"></div>
        </div>
    </div>
	
	<div id="cta">
        <div class="wrapper">
            <h3>Heard Enough?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt. Nam ultricies odio ac neque suscipit volutpat. Ut dictum adipiscing felis sed malesuada. Integer porta sem nec nibh hendrerit imperdiet. </p>
            <a href="#" class="button-2">Get Started</a>
        </div>
    </div>
{%endblock%}